body {
  font-family: 'Roboto Condensed', sans-serif;
  text-shadow: 0 0 1px #000,
    0 0 3px #000,
    0 0 5px #000,
    0 0 7px #000;
  background: #000 url('../img/lifestream-blurred-alpha.png') center/cover no-repeat #000;
}

#main {
  line-height: 0.75 !important;
}

#ff7r-title {
  font-size: 8vw;
}

#countdown-title {
  font-size: 7vw;
}

#release-date {
  font-size: 4vw;
}

.countdown-value {
  font-size: 12.5vw;
}

.countdown-label {
  font-size: 5.5vw;
}

.countdown-label:not(.s):before {
  content: "-";
  opacity: 0;
}

.countdown-label:not(.s):after {
  content: "-";
  opacity: 0;
}

.countdown-label.s:after {
  content: "s";
}

#seconds-value-float:not(:empty):before {
  content: ".";
}

#copyright-code {
  cursor: pointer;
}

#cc-logo {
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1em;
  height: 1em;
  vertical-align: -9%;
  filter: drop-shadow(0 0 2px #000);
}

#credits-modal {
  text-shadow: none;
  backdrop-filter: blur(4px);
}

.link-underline-opacity-75-hover {
  transition: text-decoration .25s;
}

.opacity-hover-100:hover {
  opacity: .9 !important;
}

.font-size-6vw {
  font-size: 6vw;
}

.font-size-5vw {
  font-size: 5vw;
}

.font-size-4vw {
  font-size: 4vw;
}

.animate__animated {
  will-change: transform;
  transform: translate3d(0, 0, 0);
  transform-origin: 40% 100%;
}

@media (min-width: 768px) {
  #ff7r-title {
    line-height: 6vw !important;
    font-size: 7vw;
  }

  #countdown-title {
    line-height: 6vw !important;
    font-size: 6vw;
  }

  #release-date {
    font-size: 3vw;
  }
}